*{
    font-family: sans-serif;
}
.mountain_section{
    width: 80%;
    margin: 4rem auto;
    max-width: 95%;
}

.mountein-trending{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mountein-trending span{
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}
.mountains-Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.mountains-image{
    width: 600px;
    max-width: 100%;
}

.mountains-image img{
    width: 100%;
    object-fit: cover;
}

.mountains-inform{
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 1rem 1.5rem;
}

.mountains-inform h2{
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.slider-Section{
    width: 88%;
    max-width: 95%;
    margin: 2rem auto;
    overflow: hidden;
    margin-bottom: 5rem;
}

.slide-Container{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    width: 200%;
    justify-content: space-between;
    transition: 0.8s;
}

.slide-box{
    width: 360px;
    padding: 5px 10px;
    transition: 0.8s;
    border: 1px solid rgb(21, 122, 153);
}
.slide-box h2{
    margin-bottom: 1rem;
}
.slide-box:hover{
    padding: 8px 12px;
}

.slider-Image{
    width: 100%;
    
}
.slider-Image img{
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.slide-btn{
    padding: 0.5rem 1rem;
    border: none;
    background-color: #FA6980;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}

.click-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(80, 74, 74, 0.5);
    transition: 0.5s;
    z-index: 12344;
    transform: translateY(-100%);
}

.delete-x{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
}

.click-section.active{
    transform: translateY(0%);
}

.click_container{
    width: 750px;
    max-width: 95%;
    position: relative;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 90%;
    background-color: #fff;
    border-radius: 15px;
}

.click-img{
    width: 300px;
    height: 200px;
}
.click-img img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.click-box{
    width: 300px;
}

@media(max-width:770px){
    .mountains-Container{
        display: block;
    }

    .slider-Section{
        width: 100%;
    }

    .slide-Container{
        width: 310%;
    }

    .slide-box{
        width: 260px;
    }
    .slider-Image img{
        width: 100%;
        object-fit: cover;
        height: 200px;
    }

    .click_container{
        width: 550px;
        max-width: 95%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 90%;
        background-color: #fff;
        border-radius: 15px;
    }
}


@media(max-width: 480px){
    .click-img{
        width: 200px;
        height: 100px;
    }
    .slide-Container{
        width: 700%;
    }
    .click-img img{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    
    .click-box{
        width: 200px;
        margin: 1rem auto;
    }
    .click-box h1{
        font-size: 18px;
    }

    .click-box p{
        font-size: 12px;
    }
}